.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #d9a1e4;
   padding: 15px 20px;
   color: white;
   position: sticky;
   top: 0;
   z-index: 10;
}
.logo {
   font-size: 22px;
   font-weight: bold;
}
.nav-links {
   list-style: none;
   display: flex;
   gap: 20px;
}
.nav-links li a {
   color: white;
   text-decoration: none;
   font-size: 18px;
}
.nav-links li a:hover {
   text-decoration: underline;
}

.hamburger {
   display: none;
   font-size: 28px;
   cursor: pointer;
}

@media (max-width: 768px) {
   .nav-links {
       position: absolute;
       top: 70px;
       right: 0;
       background: #d9a1e4;
       width: 200px;
       flex-direction: column;
       text-align: right;
       padding: 20px;
       display: none;
   }
   .nav-links.show {
       display: flex;
   }
   .hamburger {
       display: block;
   }

   .carrito-icon {
    cursor: pointer;
    margin-left: 20px;
    font-size: 22px;
}

.carrito-icon span {
    background: #d9a1e4;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 14px;
}

.carrito {
    position: fixed;
    top: 80px;
    right: -350px;
    width: 300px;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

.carrito.activo {
    right: 20px;
}

.carrito ul {
    padding: 0;
    list-style: none;
}

.carrito li {
    padding: 5px 0;
    cursor: pointer;
}

.carrito li:hover {
    color: #d9a1e4;
}

}
.productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding: 20px;
}

.card {
    width: 50%;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}